{{#link-to "contacts.add" class=" btn btn-dark"}}
  Ajouter contact
{{/link-to}}
<div>
  <button class="btn btn-sm btn-dark" {{action "cancelDeletion" model.deleteds}}>
    {{fa-icon "undo"}}
  </button>
</div>
{{input value=model.filter class="form-control"
        placeholder="Filtrer sur ..."}}

<div class="list-group">
  {{#each model.contacts as |contact|}}
    <div class="list-group-itme">
      <div class="rows">
        <div class="col">{{contact.nom}}</div>
        <div class="col">{{contact.prenom}}</div>
        <div class="col">{{contact.email}}</div>
        <div class="col">
          <button class="btn btn-sm btn-dark" {{action "delete" contact}}>
          {{fa-icon "remove"}}
          </button>
        </div>
      </div>
    </div>
  {{else}}
    <div class="alert alert-info">
      aucun contact à afficher
    </div>
  {{/each}}
</div>
{{outlet}}