<div>
  {{#ui-form newValue=model.task  validation="save" cancel="cancel" bigIcon='tasks' smallIcon='plus' header='Task' description='Adding an object'}}
    <div class="two fields">
      <div class="field">
        <label id="" class="" for="frmEdit-content">Content</label>
        <div id="div-frmEdit-content" class="ui input">
          {{input id="frmEdit-content" value=model.task.content placeholder="Content"}}
        </div>
      </div>
      <div class="field">
        <label id="" class="" for="frmEdit-story">Story</label>
        <div class="ui action input">
          <select class="ui compact selection dropdown" onchange={{action (mut model.task.story) value="target.value"}}>
            {{#each model.stories as |story|}}
              <option value="{{story.code}}">{{story.code}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
  {{/ui-form}}
</div>{{outlet}}